*{
    margin: 0;
    padding: 0;
}
ul li{
    display: flex;
    display: inline-block;
    padding: 20px;
}
ul li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 50px;
    font-family: sans-serif;
    margin:10px
    
}
ul li a:hover{
    color: red;
    text-decoration: line-through;
    transform: rotate(10deg) scale(1.5);
    transition: transform 0.5s,scale 0.5s linear;
}
p::first-letter{
    color:red;
    font-size: 30px;
}
p{
    padding: 29px;
}

@media (max-width : 500px){
    p{
        color:blue;
    }
}